@CHARSET "ISO-8859-1";
body{
	font-family: "Times New Roman", Georgia, Serif;
}

table.table-header-left{
		float: left;
	 	width: 70%;
}

table.table-header-right{
		float: right;
	 	width: 20%;
}

table.table-footer-right{
		float: right;
		width: 20%;
}

.table-header-left{
	border: 2px;
	font-family: "Times New Roman", Georgia, Serif;
}
