@CHARSET "ISO-8859-1";

.top-menu p {
	font-weight: 900;
	font-size: x-large;
}

.header-section {
	text-align: center;
	color: white;
	height: 30px;
}

#custom-search-input {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

#custom-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-input button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #D9230F;
}

.search-query:focus+button {
	z-index: 3;
}

div .btn-toolbar {
	height: 40px;
}

.datepicker>span:hover {
	cursor: pointer;
}
/** auto complete **/
.ui-tooltip {
	background: #107985;
	color: #96f226;
	border: 2px solid #454545;
	border-radius: 5px;
	box-shadow: 0 0
}

.ui-autocomplete {
	background: #c0cae2;
	border-radius: 10px;
	width: 20%;
}

.ui-autocomplete.source:hover {
	background: #454545;
}

.ui-menu .ui-menu-item {
	height: 20px;
	font-size: 16px;
	cursor: pointer;
}

.dropdown-menu>li>a {
	cursor: pointer;
}

.btn-group .dropdown-menu {
	left: 0px;
}

/** Go Top button **/
#go_top {
	display: block;
	width: 31px;
	height: 31px;
	position: fixed;
	background-color: #2ccaae;
	bottom: 50px;
	right: 15px;
	z-index: 100;
	cursor: pointer;
}

/*-- tạo mũi tên --*/
#go_top:before {
	content: "";
	position: Absolute;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom: 11px solid white;
	left: 5px;
	top: -8px;
}

#go_top:after {
	content: "";
	position: Absolute;
	width: 10px;
	height: 17px;
	background-color: white;
	left: 11px;
	top: 14px;
}
/** End Go Top **/
td a {
	cursor: pointer;
}

/** Student detail **/
.user-row {
	margin-bottom: 14px;
}

.user-row:last-child {
	margin-bottom: 0;
}

.dropdown-user {
	margin: 13px 0;
	padding: 5px;
	height: 100%;
}

.dropdown-user:hover {
	cursor: pointer;
}

.table-user-information>tbody>tr {
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
	border-top: 0;
}

.table-user-information>tbody>tr>td {
	border-top: 0;
}

.toppad {
	margin-top: 20px;
}

.outter-wp .panel {
	margin-bottom: 50px;
}

.table>tbody>tr>td {
	color: black;
}

.sidebar-icon {
	cursor: pointer;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
	.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-size: 1.00em !important;
}

.footer-student-detail {
	background: #ddd;
}

.table>tbody>tr>td a, .footer-student-detail a {
	margin-top: -2px;
}

.active {
	background-color: #f2ff8a !important;
}

#menu-academico a{
	cursor: pointer;
}